# from huxblog-boilerplate
_site
node_modules
.DS_Store
*/.DS_Store
*/*/.DS_Store
*.sh

# from default jekyll template
.sass-cache
.jekyll-metadata
.jekyll-cache


# specific posts
_posts/2021-01-16-fin-news.md
